body{
  /* position: relative; */
  /* height: 1552px; */
  font-family: 'Helvetica Neue';
  font-style: normal;
}
.navbar-custom{
  /* position:absolute; */
  /* width: 1440px; */
  height: 58px;
  background-color:#F8F9FA;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.heading{
  height: 24px;
  /* width: 1099.45px; */
  left: 11.82%;
  /* right: 11.82%; */
  top: 269px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.paragraph{
  left: 9.79%;
  right: 9.79%;
  top: 69.16%;
  bottom: 20.62%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
/* .custom-indicators0{
  width: 30px;
  height: 3px;
  text-align: center;
  bottom: -3px;
} */
.carousel-custom{
  height: 450px;
}
.custom-indicators{
  /* position: absolute; */
  text-align: center;
}
.icon-left{
  /* position: absolute; */
  left: 38px;
  width: 13.5px;
  height: 18px;
  top: 215px;
  bottom: 216px;
}
.icon-right{
  position: absolute;
  right: 42px;
  width: 13.5px;
  height: 18px;
  top: 215px;
  bottom: 216px;
}

.box{
  /* position: absolute; */
  width: 1110px;
  height: 863px;
  margin-left: 165px;
  margin-right: 165px;
  /* top: 559px; */
  margin-top: 51px;
}
.info{
/* position: absolute; */
width: 173.57px;
height: 36px;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.custom-footer{
  position:absolute;
  color: white;
  width: 100%;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color:#6C757D;
}
.image{
  height: 157px;
  width: 350px;
}
.card-box{
  width: 350px;
  height: 388px;
  margin-right: auto;
  margin-bottom: 30px;
}
.card-info{
  /* margin-left: -4.5%; */
  width: 350px;
  height: 388px;
}
.title{
  width: 348px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
}
.text{
  width: 318px;
  height: 115px;
  padding-left: 16px;
}
@media (min-width:1200px) {
  .navbar-custom{
    width: auto;
   }
   .carousel-custom{
     height: auto;
     width: auto;
   }
   .box{
     width: auto;
     height: auto;
     margin: 4%;
   }
   .card-box{
    width: 33.33%;
    height: auto;
    /* margin: 2%; */
    margin-top: auto;
    margin-left: auto;
    /* margin-right: auto; */
  }
  .card-info,.image{
    width: auto;
    height: auto;
  }
}
@media (max-width: 1199px) { 
  .navbar-custom{
    width: auto;
   }
   .carousel-custom{
     height: auto;
     width: auto;
   }
   .box{
     width: auto;
     height: auto;
     margin: 4%;
   }
   .card-box{
    width: 45%;
    height: auto;
    /* margin: 2%; */
    margin-top: auto;
    margin-left: auto;
    /* margin-right: auto; */
  }
  .info{
    margin-left: 3%;
  }
  .card-info,.image{
    width: auto;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .navbar-custom{
   width: auto;
  }
  .carousel-custom{
    height: auto;
    width: auto;
  }
  .box{
    width: auto;
    height: auto;
    padding:2%;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
  }
  .card-box,.card-info,.image{
    width: auto;
    height: auto;
  }
}