body{
  font-family: 'Helvetica Neue';
  font-style: normal;
}
.icon-left{
  left: 38px;
  width: 13.5px;
  height: 18px;
}
.icon-right{
  position: absolute;
  right: 42px;
  width: 13.5px;
  height: 18px;
}

.custom-footer{
  position:absolute;
  color: white;
  width: 100%;
  background-color:#6C757D;
}
